<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title><%= "#{@title} &mdash; " unless @title.nil? %>UPLD.IN</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/textfield.js"></script>
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="/images/logo.png" alt="UPLD.IN" class="logo" />
        </a>
    </div>
    <div class="top"></div>
    <div class="middle">
        <%= yield %>
    </div>
    <div class="bottom"></div>
    <div class="footer">Need something? Contact me from
        <a href="http://ausgat.com/">here</a>.</div>
</body>
</html>
