<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>404 Not Found &mdash; UPLD</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
    <div id="not-found">
        <img src="/images/404.png" alt="404 Not Found" />
    </div>
    <div id="go-back"><a href="/">
        <img src="/images/back.png" alt="Go Back" class="button" />
    </a></div>
    <div id="look-elsewhere">
        <img src="/images/elsewhere.png" alt="Go Look Elsewhere" />
    </div>
</body>
</html>
